.idea/
.vscode/
/web/coverage/
/web/vendor/
/web/logs/*
/web/.phpunit.result.cache
/web/var/cache/*
!/web/var/cache/.gitkeep
/web/var/uploads/*
!/web/var/uploads/.gitkeep
/web/var/logs/*
!/web/var/logs/.gitkeep